<h1>Chat</h1>
<hr />

<div class="app-mensajes" id="app-mensajes">
  <div
    [ngClass]="{ 'text-right': authService.usuario.uid === chat.uid }"
    class="text-right"
    *ngFor="let mensaje of chatService.chats"
  >
    <span class="badge"
    [ngClass]="{ 'badge-primary': authService.usuario.uid === chat.uid, 
    'badge-success':  authService.usuario.uid !== chat.uid
  }"
    >{{authService.usuario.nombre}}</span>
    <p>{{ mensaje.mensaje }}</p>
  </div>
</div>

<input
  type="text"
  name="mensaje"
  class="form-control"
  [(ngModel)]="mensaje"
  placeholder="Enviar mensaje"
  (keyup.enter)="enviarMensaje()"
/>
